.todo-card {
    padding: 10px;
    border-radius: 10px;
    /* background: rgba(var(--main-bg-color), 0.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
    transition: filter 0.2s ease-in-out; 
}

.todo-card:hover {
    filter: brightness(90%);
}
  